<app-main-admin></app-main-admin>
<h3>Категории</h3>
<div style="margin-top: 30px; margin-bottom: 15px;">
    <button class="btn btn-primary" (click)="open_create()">Добавить</button>
</div>
<div>
    <pagination-controls  style="margin-left: 40%;"  class="pagination" (pageChange)="onPageChange($event)"></pagination-controls>
</div>
<table  class="table table-striped">
    <thead>
        <tr>
            <td>Ид</td>
            <td>Название</td>
            <td>Мин. продолжительность</td>
            <td>Цена за час</td>
            <td>Настройки</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of category | paginate: { itemsPerPage: 30, currentPage: pageNumber, totalItems:Count }">

                <td>{{c.id}}</td>
                <td>{{c.name}}</td>
                <td>{{c.minTime}}</td>
                <td>{{c.price}} грн.</td>
                <td>
                    <button class="btn btn-danger" (click)="delete(c.id)">Удалить</button>
                </td>
        </tr>
    </tbody>
</table>
